@use '../utils/variables' as *;
@use '../utils/mixins';

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $color-background-navigation;
  font-weight: 700;
  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;

    margin-bottom: 8px;

    @include mixins.on-desktop {
      margin-bottom: 24px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    width: fit-content;
    margin-bottom: 16px;
    line-height: 27px;

    @include mixins.hover(opacity, 0.7);
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-text-navigation;
    line-height: 16px;
    letter-spacing: 2px;

    @include mixins.hover(opacity, 0.7);
  }
}
