@use "../utils/variables" as *;
@use "../utils/mixins";
@use "../utils/typography";

.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;

    @include typography.menu-navigation-link;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-text-navigation;

      transition: transform $effect-time;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__item {
    width: fit-content;

    transition: transform $effect-time ease;

    will-change: transform;

    @include mixins.hover(transform, scale(1.05));
  }
}
