@use "./variables" as *;

@mixin on-tablet() {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1260px;

    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-time;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin form-input {
  box-sizing: border-box;
  padding: 16px;
  background-color: $color-input;
  border-radius: 40px;

  transition:
    transform $effect-time,
    border-color $effect-time,
    background-color $effect-time;

  &:hover {
    transform: scale(0.97);
    border-color: #d5d7de;
  }

  &:focus {
    outline: none;
    border-color: #292929;
  }

  &:active {
    border-color: #292929;
    transform: scale(0.95);
  }

  &::placeholder {
    color: $color-placeholder;
  }

  &:hover::placeholder {
    transform: scale(0.99);
  }
}

@mixin button-base() {
  @include hover(transform, scale(0.97));

  height: 48px;
  background-color: $color-button-background;
  border-radius: 40px;
  cursor: pointer;

  color: $color-button-text;
  font-weight: 700;
  border: 2px solid transparent;

  transition:
    color $effect-time,
    background-color $effect-time,
    border-color $effect-time,
    transform $effect-time;

  &:hover {
    color: $color-button-text;
    background-color: $color-button-background;
    border-color: $color-button-background;
  }

  &:active {
    color: $color-button-text;
    background-color: $color-button-background;

    @include hover(transform, scale(0.95));
  }
}

@mixin bg-retina($path) {
  background-image: url(../images/#{$path}.png);
  background-image: image-set(
    url(../images/#{$path}.webp) 1x,
    url(../images/#{$path}-@2x.webp) 2x,
    url(../images/#{$path}.png) 1x,
    url(../images/#{$path}-@2x.png) 2x
  );
}
