/* Breakpoint */
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;
$content-width: 1200px;

/* Primal colors */
$color-light: #fff;
$color-dark: #1D1D1D;

/* Base elements */
$color-text-main: $color-light;
$color-page-background: $color-dark;

/* Input */
$color-input: #F8F8FA;
$color-placeholder: #7E7E83;

/* Button */
$color-button-text: $color-dark;
$color-button-background: $color-light;

/* Navigation */
$color-text-navigation: $color-dark;
$color-background-navigation: #C2C2C2;

/* Effects */
$effect-time: 0.3s;


