/* Breakpoint */
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;
$content-width: 1200px;

/* Primal colors */
$color-light: #fff;
$color-dark: #1d1d1d;

/* Base elements */
$color-text-main: $color-light;
$color-page-background: $color-dark;

/* Input */
$color-input: #f8f8fa;
$color-placeholder: #7e7e83;
$color-input-border-hover: #d5d7de;
$color-input-border-focus: #292929;

/* Button */
$color-button-text: $color-dark;
$color-button-background: $color-light;

/* Navigation */
$color-text-navigation: $color-dark;
$color-background-navigation: #c2c2c2;

/* Effects */
$effect-time: 0.3s;

/* Fonts weights */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;